<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Engee Wellness</title>
</head>
<body>

 
  
  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee Wellness Logo"></a>
      </section>
    
      <section class="links">
        <ul>
           <li><a href="/index">Home</a></li>
           <li><a href="/workout">Workouts</a></li>
           <li><a href="/mealplan">Meal Plans</a></li>
         </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>
  
  <main>
    <section class="mainContainer"> 
      
      <section class="topSection">
        <div class="intro"><h1>Welcome To Engee Wellness</h1></div>
        <div class="introText"><h2>Health Is Wealth</h2></div>
      </section>

      <section class="bottomSection">
        <section class="workout">
          <section class="sectionLeft">
            
            <div class="text1">
              <h2>FREE WORKOUT PLANS</h2>
            </div>
            
            <div class="text2">
              <p>We offer free workouts created by fitness experts, suitable for any goal  or experience level.</p>
              <div><a href="/workout"><button type="button" class="btn btn-primary btn-lg workoutButton">View Workouts</button></a></div> 
            </div>
          </section>
          
          <section class="sectionRight">
            <img src="img/gymimg1.jpg" alt="gym">
          </section>
        </section>

        <section class="dietPlan">
          <section class="dietLeft">
            <img src="img/diet.jpg" alt="healthy food">
           </section>
          
           <section class="dietRight">
              <section class="dietTextOne">
                <h2>Nutrition Guide & Healthy Recipes</h2>
              </section>
              
              <section class="dietTextTwo">
                <p>We understand the importance of nutrition. Learn how to create your own diet plan and cook healthy delicious food that supports your goals.</p>

                <div><a href="/mealplan"><button type="button" class="btn btn-primary btn-lg dietButton">View Diets</button></a></div> 
              </section>
          </section>
        </section>
      </section>
    
    </section>

   
  </main>

  <footer>
    <section>
      <section class="footerLinks">
        <div class="copyRight">
          <span>&#169; Engee Wellness</span>
        </div>
        
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>
    </section>
  </footer>
   
  





<script src="main.js"></script>  
</body>
</html>