<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Meal Plan</title>
</head>
<body>
  
  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee fitness logo"></a>
      </section>
    
      <section class="links">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>

  <main>
    <section class="topSection">
      <div class="intro"><h1>Diet Plans</h1></div>
      <div class="text2">
        <p>Learn about different approaches to fitness nutrition so you can choose the best diet plan to suit your goals.</p>
        <!-- <div><a href="#"><button type="button" class="btn btn-primary btn-lg">Learn More</button></a></div> -->
      </div>
      
    </section>

    <section class="bottomSection">
      <section class="mealContainer">
        
        <section class="topRowFood">
          <section class="cleanEating">
            <div><a href="#"><img class="imgBoxDiet" src="img/dietone.jpg" alt="Eating Clean"></a></div>
            <a href="#"><span class="dietText">Eating Clean</span></a> 
          </section>
          
          <section class="ketoDiet">
            <div><a href="#"><img class="imgBoxDiet" src="img/keto.jpg" alt="Keto Diet"></a></div>
            <a href="#"><span class="dietText">Keto Diet</span></a>
          </section>
          
          <section class="fasting">
            <div><a href="#"><img class="imgBoxDiet" src="img/fasting.jpg" alt="Class of water"></a></div>
            <a href="#"><span class="dietText">Fasting Diet</span></a>
          </section>
        </section>
      </section>
    </section>

    <hr>

    <section class="dietContainer">
      <h2 class="mealPlanTitle">Eating Clean</h2>
      <section>
        <section class="cleanEatingSection">
              <section>
                <img class="dietPics" src="img/cleaneating.jpg">
              </section>
              
              <section class="cleanEatingTxtContainer">
                <section class="cleanEatingTxt">
                  <p>When we discuss diet plans we can typically put them along a spectrum where food quantity is on one end and food quality is on the other.</p>
                  <p>The main principles of clean eating are centered around focusing on the quality of the foods you consume and ensuring they are “clean”.</p>
                  <p>The principles can be summarized in one tenant: Choose whole, natural foods and seek to eliminate processed foods.</p>
                  <p>The core principles of the diet can be listed as follows:</p>
                  <ol>
                    <li>Avoid processed foods</li>
                    <li>Avoid refined foods</li>
                    <li>Avoid artificial ingredients </li>
                    <li>Avoid alcohol </li>
                    <li>Avoid soda and fruit juice</li>
                  </ol>
                </section>
              </section>
          </section>

          <section class="ketoDietSection">
            <h2 class="mealPlanTitle">Keto Diet</h2>
            <section>
              <img class="dietPics" src="img/ketodiet.jpeg">
            </section>
            
            <section class="ketoTxt">
              <p>The ketogenic diet is a diet that capitalizes on a very interesting aspect of human physiology, namely ketosis.</p>
              <p>Ketosis is a metabolic state that occurs when we consume carbohydrates in such low quantities fatty acid oxidation becomes the main source of fuel.</p>
              <p>When fatty acid oxidation reaches a certain point and carbohydrate availability is low enough, the body begins producing ketone bodies.</p>
              <p>These ketone bodies are then used preferentially in specific tissues, especially the brain.</p>
              <p>The ketogenic diet allows us to survive on without food intake or on very low (down to virtually zero) carbohydrates for long periods of time.</p>
              <p>From an evolutionary, biochemical, and physiological perspective, ketosis appears to be a survival strategy/mechanism.</p>
              <p>For the purposes of the ketogenic diet as a fat loss tool, a focal point of the ketogenic diets is that it allows us to live for long periods of time on virtually no carbohydrate intake and theoretically lower insulin levels than normal.</p>
              <p>As it has been hypothesized that insulin plays a role in body composition by regulating fat storage, this is one of the key points the ketogenic diet attempts to capitalize on.</p>
              
              <h2>History Of the Keto Diet</h2>
              <p>The history of the ketogenic diet is quite fascinating. Unlike most other diets that have arisen from health and fitness circles or popular text books, the ketogenic diet most likely arose from the medical field.</p>
              <p>The ketogenic diet was initially used to help control seizures in children with epilepsy as brain metabolism can be regulated more “evenly” being in ketosis in some circumstances.</p>
              <p>Over the years it has been adopted by the mainstream and utilized as a diet for fat loss.</p>
              <h3>General Overview of Components & Main Principles of the Keto Diet</h3>
              <p>Ketosis arises from a lack of dietary carbohydrates and lower intakes of dietary protein, coupled with either fasting or high dietary fat intake.</p>
              <p>When fat metabolism reaches a level where the key substrates for the Krebs Cycle are depleted (namely oxaloacetate), the body, more specifically the liver, begins producing ketone bodies (beta-hydroxybutyrate, acetoacetate, and acetone) which then become a substantial fuel source for select tissues in the body (e.g. the heart and the brain).</p>
              
              <h3>Ketogenic Versus Low Carb</h3>
              <p>A low carbohydrate diet is based on the same fundamental idea of a ketogenic diet: reduce carbohydrate intake to reduce calorie intake and lower insulin levels. While they operate under the same premise, they are physiologically very different, specifically in their effect on blood ketones.</p>
              <p>During a low carbohydrate diet ketones do not accumulate in the blood to any appreciable degree, this changes the type of substrates used in key tissue like the brain and the heart. It could probably be argued that if you go low-carb you should probably go ketogenic to help tissues adapt better; however, that remains to be debated.</p>

              <h3>How to Stay in Ketosis</h3>
              <p>In order to enter and stay in ketosis dietary carbohydrate intake needs to remain below a certain threshold. This threshold varies from person to person, but a good guide for most people is between 5-15% of daily total calorie intake should serve as a starting point.</p>
              <p>Typically checking ketone levels can help each person find their range of intake that allows them to stay in ketosis.</p>
              <p>Protein consumption must also stay low in order to stay in a ketogenic state. Ingesting protein above certain quantities is glucogenic, meaning it can produce glucose your body will use for fuel. This can effectively “kick” your body out of ketosis.</p>
              <p>In practical terms, consuming protein at or above around 15% of your total daily calorie expenditure can be enough to render your ketogenic diet non-ketogenic.</p>

              <h3>Who is it Best Suited For?</h3>
              <p>The ketogenic diet is best suited for individuals who enjoy not tracking calories, do not mind having limitations on the types of foods they eat, and who are not high-level athletes.</p>
              <p>Individuals who have rapid fat loss goals (e.g. figure competitors prepping for a show) can have success with slight modifications to the ketogenic diet.</p>

              <img class="dietPics" src="img/ketodiet1.jpeg">

              <h3>Conclusion</h3>
              <p>Ketogenic diet, the diet is a tool and can be used appropriately or inappropriately. If you are a practitioner know the scope and circumstances in which you should and should not use this tool.</p>
              <p>There are a host of studies showing that ketogenic diets work for weight loss, however it may not convey any magical properties compared to other dietary approaches that control calories and protein intake.</p>
              <p>Additionally, it appears that ketogenic diets can be used in low-intensity athletes or individuals who are less active with no major detriments to their performance. However, high intensity, high volume athletes are likely to see decreases in performance and recovery following a ketogenic diet.</p>

            </section> 
          </section>

          <section class="fastingSection">
            <h2 class="mealPlanTitle">Fasting</h2>
            <img class="dietPics" src="img/water.jpeg">
            <section class="fastingTxt">
              <p>Intermittent fasting is a dietary philosophy that either involves long periods of fasting followed by short windows of feasting or 24 hours of fasting followed by 24 hours of feasting (this is known as alternate day fasting).</p>
              <p>There are several variations of intermittent fasting with the most popular fasting protocol being a 16 hour fast followed by an 8 hour feasting window.</p>
              <ol>
                <li>Maximizing the time your body spends oxidizing fat</li>
                <li>Minimizing overall insulin load to the system</li>
                <li>Improved energy levels</li>
                <li>Increased longevity</li>
              </ol>

              <p>Recently several key studies have been carried out to examine how these claims stack up to the research and the results have been quite interesting.</p>

              <h3>Scientific Studies and Interpretation of Data</h3>
              <p>There are quite a few studies that delve into the benefits of intermittent fasting as a tool to promote fat loss.</p>
              <p>As mentioned prior, the ideal of fasting to promote health benefits has been around since ancient civilization.</p>
              <p>Today, many of the general speculations regarding the general health benefits of fasting still ring true, however whether or not this has more to do with caloric restriction is still up for debate.</p>
              <p>Below we will outline some of the studies that have been conducted that lay out these benefits in an unbiased platform.</p>
              
              <h3>Fat Loss Benefits</h3>
              <p>One of the major claims of intermittent fasting is that it is an excellent tool for fat loss. There have been several studies that have examined the role of meal frequency in fat loss, including things like alternate day fasting and even the intermittent fasting protocol.</p>
              <p>For a long while these studies were brushed off by social media and fitness forums as they were not truly studies of the specific intermittent fasting protocol; however, recently one study was done that followed the traditional 16/8 fasting/feasting protocol as prescribed by traditional intermittent fasting protocols.</p>
              <p>In this study, the group following the intermittent fasting protocol did lose about 3.5 pounds more fat than the normal dieting group; however, this also occurred concurrently with lower calorie intake than the normal diet group so it is likely the greater fat loss was due to lower calorie intake.</p>
              <p>One of the more interesting notes about this study, as mentioned by Greg Nuckols is that, “Testosterone and IGF-1 levels decreased, levels of several pro-inflammatory cytokines decreased, cortisol levels increased, insulin and blood glucose levels decreased, triglyceride levels decreased, T3 levels decreased and RER decreased slightly.</p>
              <p>Those are all things you’d expect to see in a calorie deficit. And while it’s true that the IF group was in a calorie deficit, it was a very small one (less than 10% below maintenance) – probably not a large enough deficit to explain those effects.</p>
              <p>On the whole, this study makes it seem that IF “tricks” your body into thinking you’re dieting, even if you’re at (or at least close to) caloric maintenance, in a manner that’s generally consistent with improved health and longevity”.</p>

              <h3>Muscle Building Benefits</h3>
              <p>When you look closely at the fasting literature it appears that intermittent fasting does not appear to convey any additional benefits to muscle building when calories are held equal.</p>
              <p>That being said, periods of fasting may improve the quality of muscle tissue by increasing its cellular cleaning processes (e.g. autophagy and heat shock protein response)3,4,5. However, this research is currently preliminary and is mostly speculation at this point.</p>

              <h3>Overall Health Benefits</h3>
              <p>Of all the areas of research on fasting, the effects of fasting on overall health and longevity perhaps the most interesting. Several studies in animal models have shown that periods of fasting increase lifespan and improve several metabolic parameters as these animals age</p>
              <p>Perhaps the best known phenomena of fasting is increases in autophagy, a cellular “cleaning process”. There is some good animal evidence to also suggest that fasting may increase longevity; however, the data in humans is short term and long term data is not available, so much of this is still speculation</p>

              <h2>Conclusion</h2>
              <p>Intermittent fasting offers a food-flexible approach to dieting and may have some unique metabolic benefits for health and longevity. From a fat loss perspective, intermittent fasting can be an excellent tool, mainly due to controlling calorie intakes.</p>
              <p>Intermittent fasting can be used in its widely known format of a 16 hour fast followed by an 8 hour feasting window; the alternate day fasting approach with a 24 hour fast followed by a 24 hour feast. Intermittent fasting is easy to follow in that it does not limit or restrict food, allows one to eat without tightly tracking calories.</p>
            </section>
          </section>
        
      </section>


    </section>



  </main>

  <footer>
    <section>
      <section class="footerLinks">
        <div class="copyRight">
          <span>&#169; Engee Fitness</span>
        </div>
        
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>
    </section>
  </footer>


<script src="main.js"></script>  
</body>
</html>