<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Meal Plan</title>
</head>
<body>
  
  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee fitness logo"></a>
      </section>
    
      <section class="links">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>

  <main>
    <section class="topSection">
      <div class="intro"><h1>Diet Plans</h1></div>
      <div class="text2">
        <p>Learn about different approaches to fitness nutrition so you can choose the best diet plan to suit your goals.</p>
        <!-- <div><a href="#"><button type="button" class="btn btn-primary btn-lg">Learn More</button></a></div> -->
      </div>
      
    </section>

    <section class="bottomSection">
      <section class="mealContainer">
        
        <section class="topRowFood">
          <section class="cleanEating">
            <div><a href="#"><img class="imgBoxDiet" src="img/dietone.jpg" alt="Eating Clean"></a></div>
            <a href="#"><span class="dietText">Eating Clean</span></a> 
          </section>
          
          <section class="ketoDiet">
            <div><a href="#"><img class="imgBoxDiet" src="img/keto.jpg" alt="Keto Diet"></a></div>
            <a href="#"><span class="dietText">Keto Diet</span></a>
          </section>
          
          <section class="fasting">
            <div><a href="#"><img class="imgBoxDiet" src="img/fasting.jpg" alt="Class of water"></a></div>
            <a href="#"><span class="dietText">Fasting Diet</span></a>
          </section>
        </section>
      </section>
    </section>

    <hr>

    <section class="dietContainer">
      <h2 class="mealPlanTitle">Clean Eating</h2>
      <section>
        <section class="cleanEatingSection">
              <section>
                <img class="dietPics" src="img/cleaneating.jpg">
              </section>
              
              <section class="cleanEatingTxtContainer">
                <section class="cleanEatingTxt">
                  <p>When we discuss diet plans we can typically put them along a spectrum where food quantity is on one end and food quality is on the other.</p>
                  <p>The main principles of clean eating are centered around focusing on the quality of the foods you consume and ensuring they are “clean”.</p>
                  <p>The principles can be summarized in one tenant: Choose whole, natural foods and seek to eliminate processed foods.</p>
                  <p>The core principles of the diet can be listed as follows:</p>
                  <ol>
                    <li>Avoid processed foods</li>
                    <li>Avoid refined foods</li>
                    <li>Avoid artificial ingredients </li>
                    <li>Avoid alcohol </li>
                    <li>Avoid soda and fruit juice</li>
                  </ol>
                </section>
              </section>
          </section>

          <section class="ketoDietSection">
            <section></section>
          </section>

          <section class="fastingSection">
            <section></section>
          </section>
        
      </section>


    </section>



  </main>

  <footer>
    <section>
      <section class="footerLinks">
        <div class="copyRight">
          <span>&#169; Engee Fitness</span>
        </div>
        
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>
    </section>
  </footer>


<script src="main.js"></script>  
</body>
</html>