<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <title>Workout Programs</title>
</head>
<body>

  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee fitness logo"></a>
      </section>
    
      <section class="links">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>
  
  <main>
    <section class="topSection">
      <div class="workoutIntro"><h1>Free Workout Programs</h1></div>
      <p>Workouts created by fitness experts, suitable for any goal  or experience level.</p>
    </section>

    <section class="bottomSection">
      <section class="workoutContainer">
        
        <section class="topRow">
          <section class="back">
            <div><img class="imgBox" src="img/back.jpg" alt="Back muscles picture"></div>
            
            <button type="button" class="workoutText">lower_back</button>
            
          </section>
          
          <section class="abs">
            <div><a href="#"><img class="imgBox" src="img/abs.jpg" alt="Abs muscles picture"></a></div>
            <button type="button" class="workoutText">abdominals</button>
          </section>
          
          <section class="bicep">
            <div><a href="#"><img class="imgBox" src="img/bicep.jpg" alt="Bicep muscles picture"></a></div>
            <button type="button" class="workoutText bicepsButton">biceps</button>
          </section>
        </section>
        
        <section class="btnRow">
          <section class="leg">
            <div><a href="#"><img class="imgBox" src="img/leg.jpg" alt="Leg Workout"></div></a>
            <button type="button" class="workoutText glutesButton">glutes</button>
          </section>
          
          <section class="chest">
            <div><a href="#"><img class="imgBox" src="img/chest.jpg" alt="Chest Workout"></div></a>
            <button type="button" class="workoutText chestButton">chest</button>
          </section>
          
          <section class="calisthenics">
            <div><a href="#"><img class="imgBox" src="img/shoulder.jpeg" alt="Calisthenics Workout"></a></div>
            <button type="button" class="workoutText trapsButton">traps</button>
          </section>
        </section>

        <hr>

        <section class="backWorkout">
            <!-- <h2 class="BackExercises">Back Workouts</h2> -->
          <section class="rowBack">
            <section class="cleanEating">
              <!-- <div><img class="imgBack" src="img/bentoverrow.jpeg" alt="Bar Bench Picture"></div> -->
                <h3 class="backText sectionOneName"></h3>
              <ol class="workoutSections">
                <li class="sectionOneMuscle"></li>
                <li class="sectionOneInstructions"></li>
                <li class="sectionOneDifficulty"></li>
               </ol>
            </section>
            
            <section class="fasting">
              <!-- <div><img class="imgBack" src="img/latpulldown.jpeg" alt="Class of water"></div> -->
              <h3 class="backText sectionTwoName"></h3>
              <ol class="workoutSections">
                <li class="sectionTwoMuscle"></li>
                <li class="sectionTwoInstructions"></li>
                <li class="sectionTwoDifficulty"></li>
               </ol>
            </section>
          </section>

          <section class="rowBack">
            <section class="cleanEating">
              <!-- <div><img class="imgBack" src="img/cablerow.jpeg" alt="Bar Bench Picture"></div> -->
              <h3 class="backText sectionThreeName"></h3>
              <ol class="workoutSections">
                <li class="sectionThreeMuscle"></li>
                <li class="sectionThreeInstructions"></li>
                <li class="sectionThreeDifficulty"></li>
               </ol>
            </section>
            
            
            <section class="fasting">
              <!-- <div><img class="imgBack" src="img/dumbbellsquat.jpeg" alt="Class of water"></div> -->
              <h3 class="backText sectionFourName"></h3>
              <ol class="workoutSections">
                <li class="sectionFourMuscle"></li>
                <li class="sectionFourInstructions"></li>
                <li class="sectionFourDifficulty"></li>
               </ol>
            </section>
          </section>
            
            <section class="rowBack">
              <section class="cleanEating">
                <!-- <div><img class="imgBack" src="img/legraise.jpeg" alt="Bar Bench Picture"></div> -->
                <h3 class="backText sectionFiveName"></h3>
                <ol class="workoutSections">
                  <li class="sectionFiveMuscle"></li>
                  <li class="sectionFiveInstructions"></li>
                  <li class="sectionFiveDifficulty"></li>
                 </ol>
              </section>

              <section class="fasting">
                <!-- <div><img class="imgBack" src="img/dumbbellsquat.jpeg" alt="Class of water"></div> -->
                <h3 class="backText sectionSixName"></h3>
                <ol class="workoutSections">
                  <li class="sectionSixMuscle"></li>
                  <li class="sectionSixInstructions"></li>
                  <li class="sectionSixDifficulty"></li>
                 </ol>
              </section>
            </section>
           
          
            
          

          

          

         
        
          
          
        </section>
      
      </section>

    </section>

    

   
  





  </main>





  
  <footer>
    <section>
      <section class="footerLinks">
        <div class="copyRight">
          <span>&#169; Engee Fitness</span>
        </div>
        
        <div class="footerNavLinks">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/workout">Workouts</a></li>
            <li><a href="/mealplan">Meal Plans</a></li>
          </ul>
        </div>
        
      </section>
    </section>
  </footer>
  
  

 

  






<script src="main.js"></script>  
</body>
</html>