<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <title>Workout Programs</title>
</head>
<body>

  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee fitness logo"></a>
      </section>
    
      <section class="links">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>
  
  <main>
    <section class="topSection">
      <div class="workoutIntro"><h1>Free Workout Programs</h1></div>
      <p>Workouts created by fitness experts, suitable for any goal  or experience level.</p>
    </section>

    <section class="bottomSection">
      <section class="workoutContainer">
        
        <section class="topRow">
          <section class="back">
            <div><a href="#"><img class="imgBox" src="img/back.jpg" alt="Back muscles picture"></a></div>
            <a href="#"><span class="workoutText">Back Workout</span></a>
          </section>
          
          <section class="abs">
            <div><a href="#"><img class="imgBox" src="img/abs.jpg" alt="Abs muscles picture"></a></div>
            <a href="#"><span class="workoutText">ABS Workout</span></a>
          </section>
          
          <section class="bicep">
            <div><a href="#"><img class="imgBox" src="img/bicep.jpg" alt="Bicep muscles picture"></a></div>
            <a href="#"><span class="workoutText">Bicep Workout</span></a>
          </section>
        </section>
        
        <section class="btnRow">
          <section class="leg">
            <div><a href="#"><img class="imgBox" src="img/leg.jpg" alt="Leg Workout"></div></a>
            <a href="#"><span class="workoutText">Leg Workout</span></a>
          </section>
          
          <section class="chest">
            <div><a href="#"><img class="imgBox" src="img/chest.jpg" alt="Chest Workout"></div></a>
            <a href="#"><span class="workoutText">Chest Workout</span></a>
          </section>
          
          <section class="calisthenics">
            <div><a href="#"><img class="imgBox" src="img/bodyweight.jpg" alt="Calisthenics Workout"></a></div>
            <a href="#"><span class="workoutText">Calisthenics</span></a>
          </section>
        </section>

        <hr>

        <section class="backWorkout">
            <h2 class="BackExercises">Back Workouts</h2>
          <section class="RowBack">
            <section class="cleanEating">
              <div><a href="#"><img class="imgBack" src="/Demoday/public/img/barbench.jpeg" alt="Bar Bench Picture"></a></div>
                <h3 class="backText">Bent Over Row Instructions</h3>
              <ol>
                <li><p>Assume a standing position while holding the bar using a double overhand grip.</p></li>
                <li><p>Hinge forward until your torso is roughly parallel with the floor (or slightly above) and then begin the movement by driving the elbows behind the body while retracting the shoulder blades.</p></li>
                <li><p>Pull the bar towards your belly button until it touches your body and then slowly lower the bar back to the starting position under control.</p></li>
                <li><p>Repeat for the desired number of repetitions.p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><a href="#"><img class="imgBack" src="img/fasting.jpg" alt="Class of water"></a></div>
              <h3 class="backText">Lat Pulldown Instructions</h3>
              <ol>
                <li>Attach a wide grip handle to the lat pulldown machine and assume a seated position.</li>
                <li>Grasp the handle with a pronated grip (double overhand) and initiate the movement by depressing the shoulder blade and then flexing the elbow while extending the shoulder.</li>
                <li>Pull the handle towards your body until the elbows are in line with your torso and then slowly lower the handle back to the starting position under control.</li>
                <li>Repeat for the desired number of repetitions.</li>
              </ol>
            </section>
          </section>

          <section class="RowBack">
            <section class="cleanEating">
              <div><a href="#"><img class="imgBack" src="/Demoday/public/img/barbench.jpeg" alt="Bar Bench Picture"></a></div>
                <h3 class="backText">Seated Cable Row Instructions</h3>
              <ol>
                <li><p>Set the appropriate weight on the weight stack and attach a close-grip bar or V-bar to the seated row machine.</p></li>
                <li><p>Grasp the bar with a neutral grip (palms facing in).</p></li>
                <li><p>Keeping your legs slightly bent and your back straight, pull the weight up slightly off the stack. You should be sitting straight upright with your shoulders back. This is the starting position.</p></li>
                <li><p>Keeping your body in position, pull the handle into your stomach.</li>
                <li><p>Pull your shoulder blades back, squeeze, pause, and then slowly lower the weight back to the starting position.</p></li>
                <li><p>Repeat for desired reps.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              
              <div><a href="#"><img class="imgBack" src="img/fasting.jpg" alt="Class of water"></a></div>
              <h3 class="backText">Dumbbell Deadlift Instructions</h3>
              <ol>
                <li><p>Set up for the dumbbell deadlift by choosing a pair of dumbbells and placing them on the floor in front of you.</p></li>
                <li><p>Stand with your feet at around shoulder width apart and position the dumbbells on the floor so that they are on either side of your feet.</p></li>
                <li><p>Reach down and grab the dumbbells with a neutral grip (palms facing inward) and drop your hips.Your hips should be in the best, most natural position for leverage so you may need to raise or lower them slightly.</p></li>
                <li>Make sure your eyes are looking ahead. Your body will follow your head so keep your head up and eyes forward!</li>
                <li><p>Be sure to keep a straight back and never allow it to round. You are now in the starting position.</p></li>
                <li><p>Focus on standing up with the dumbbells - not pulling them from the floor, and lead with your head as you rise</p></li>
                <li><p>Drive with your heals and explode upward (leading with your head) as you rise.</p></li>
                <li><p>As the dumbbells rise to knee level, thrust your hips forward and contract your back by bringing your shoulder blades back.</p></li>
                <li><p>Pause here for a moment and then reverse the movement by bending at the knees while slowly lowering the weight - keeping the dumbbells under strict control on the descent.</p></li>
                <li><p>Reset your stance if necessary and repeat for desired reps.</p></li>
              </ol>
            </section>
          </section>
            
          <h2 class="BackExercises">Ab Workouts</h2>
          <section class="rowAbs">
            <section class="cleanEating">
              <div><a href="#"><img class="imgBack" src="img/legraise.jpeg" alt="Bar Bench Picture"></a></div>
                <h3 class="backText">Lying Floor Leg Raise Instructions</h3>
              <ol>
                <li><p>Lay supine in a relaxed position with your legs straight and your hands underneath your low back for support.</p></li>
                <li><p>Keep your legs straight and raise them towards your forehead while contracting your abdominals and exhaling.</p></li>
                <li><p>Once your abs are fully contracted and your legs are slightly above parallel, slowly lower your legs back to the starting position.</p></li>
                <li><p>Complete for the assigned number of repetitions.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><a href="#"><img class="imgBack" src="img/situp.jpeg" alt="Class of water"></a></div>
              <h3 class="backText">Sit Up Instructions</h3>
              <ol>
               <li><p>Lay supine in a relaxed position with your knees up and hands across your chest.</p></li>
               <li><p>Exhale and squeeze your abs as you curl your upper body off the floor.</p></li>
               <li><p>Once your torso is perpendicular to the floor, slowly lower yourself back to the starting position.</p></li>
               <li><p>Complete for the assigned number of repetitions.</p></li>
              </ol>
            </section>
          </section>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><a href="#"><img class="imgBack" src="img/barbench.jpeg" alt="Bar Bench Picture"></a></div>
                <h3 class="backText">Plank Instructions</h3>
              <ol>
                <li><p>The Plank is a stationary exercise that helps strengthen the entire core of the body. Set up for the plank by getting a mat and laying down on your stomach.</p></li>
                <li><p>To start the exercise prop your torso up on your elbows and your feet up on your toes.</p></li>
                <li><p>Keeping yourself completely straight, hold this position for as long as possible.</p></li>
                <li><p>Typically, the plank is done for 3 x 1 minute sets. However, as you get stronger your should be able to do 1 - 3 minutes.</p></li>

              </ol>
            </section>
            
            <section class="fasting">
              <div><a href="#"><img class="imgBack" src="img/bicycle.jpeg" alt="Class of water"></a></div>
              <h3 class="backText">Abdominal Air Bike (AKA Bicycle) Instructions</h3>
              <ol>
                <li><p>Lay supine in a relaxed position with your arms behind your head and legs straight.</p></li>
                <li><p>Exhale as you raise one knee towards your face while driving the opposite elbow to the knee.</p></li>
                <li><p>Once your abs are fully contracted, slowly lower yourself back to the starting position and repeat on the opposite side.</p></li>
                <li><p>Complete for the assigned number of repetitions.</p></li>

            </section>
          </section>

          <h2 class="BackExercises">Bicep Workouts</h2>

          <section class="rowBiceps">
            <section class="cleanEating">
              <div><a href="#"><img class="imgBack" src="img/legraise.jpeg" alt="Bar Bench Picture"></a></div>
                <h3 class="backText">Lying Floor Leg Raise Instructions</h3>
              <ol>
                <li><p>Lay supine in a relaxed position with your legs straight and your hands underneath your low back for support.</p></li>
                <li><p>Keep your legs straight and raise them towards your forehead while contracting your abdominals and exhaling.</p></li>
                <li><p>Once your abs are fully contracted and your legs are slightly above parallel, slowly lower your legs back to the starting position.</p></li>
                <li><p>Complete for the assigned number of repetitions.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><a href="#"><img class="imgBack" src="img/situp.jpeg" alt="Class of water"></a></div>
              <h3 class="backText">Sit Up Instructions</h3>
              <ol>
               <li><p>Lay supine in a relaxed position with your knees up and hands across your chest.</p></li>
               <li><p>Exhale and squeeze your abs as you curl your upper body off the floor.</p></li>
               <li><p>Once your torso is perpendicular to the floor, slowly lower yourself back to the starting position.</p></li>
               <li><p>Complete for the assigned number of repetitions.</p></li>
              </ol>
            </section>
          </section>

          <section class="rowBiceps">
            <section class="cleanEating">
              <div><a href="#"><img class="imgBack" src="img/barbench.jpeg" alt="Bar Bench Picture"></a></div>
                <h3 class="backText">Plank Instructions</h3>
              <ol>
                <li><p>The Plank is a stationary exercise that helps strengthen the entire core of the body. Set up for the plank by getting a mat and laying down on your stomach.</p></li>
                <li><p>To start the exercise prop your torso up on your elbows and your feet up on your toes.</p></li>
                <li><p>Keeping yourself completely straight, hold this position for as long as possible.</p></li>
                <li><p>Typically, the plank is done for 3 x 1 minute sets. However, as you get stronger your should be able to do 1 - 3 minutes.</p></li>

              </ol>
            </section>
            
            <section class="fasting">
              <div><a href="#"><img class="imgBack" src="img/bicycle.jpeg" alt="Class of water"></a></div>
              <h3 class="backText">Abdominal Air Bike (AKA Bicycle) Instructions</h3>
              <ol>
                <li><p>Lay supine in a relaxed position with your arms behind your head and legs straight.</p></li>
                <li><p>Exhale as you raise one knee towards your face while driving the opposite elbow to the knee.</p></li>
                <li><p>Once your abs are fully contracted, slowly lower yourself back to the starting position and repeat on the opposite side.</p></li>
                <li><p>Complete for the assigned number of repetitions.</p></li>

            </section>
          </section>

         
        
        
        
        
        
        </section>
          
        </section>
      
      </section>

    </section>

    

   
    <section class="absWorkout"></section>
    <section class="bicepWorkout"></section>
    <section class="legWorkout"></section>
    <section class="chestWorkout"></section>
    <section class="calisthenicsWorkout"></section>





  </main>





  
  <footer>
    <section>
      <section class="footerLinks">
        <div class="copyRight">
          <span>&#169; Engee Fitness</span>
        </div>
        
        <ul>
          <li><a href="/index">Home |</a></li>
          <li><a href="/workout">Workouts |</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>
    </section>
  </footer>
  
  

 

  






<script src="main.js"></script>  
</body>
</html>