<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <title>Workout Programs</title>
</head>
<body>

  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee fitness logo"></a>
      </section>
    
      <section class="links">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>
  
  <main>
    <section class="topSection">
      <div class="workoutIntro"><h1>Free Workout Programs</h1></div>
      <p>Workouts created by fitness experts, suitable for any goal  or experience level.</p>
    </section>

    <section class="bottomSection">
      <section class="workoutContainer">
        
        <section class="topRow">
          <section class="back">
            <div><a href="#"><img class="imgBox" src="img/back.jpg" alt="Back muscles picture"></a></div>
            <a href="backWorkout"><span class="workoutText">Back Workout</span></a>
          </section>
          
          <section class="abs">
            <div><a href="#"><img class="imgBox" src="img/abs.jpg" alt="Abs muscles picture"></a></div>
            <a href="#"><span class="workoutText">Abs Workout</span></a>
          </section>
          
          <section class="bicep">
            <div><a href="#"><img class="imgBox" src="img/bicep.jpg" alt="Bicep muscles picture"></a></div>
            <a href="#"><span class="workoutText">Bicep Workout</span></a>
          </section>
        </section>
        
        <section class="btnRow">
          <section class="leg">
            <div><a href="#"><img class="imgBox" src="img/leg.jpg" alt="Leg Workout"></div></a>
            <a href="#"><span class="workoutText">Leg Workout</span></a>
          </section>
          
          <section class="chest">
            <div><a href="#"><img class="imgBox" src="img/chest.jpg" alt="Chest Workout"></div></a>
            <a href="#"><span class="workoutText">Chest Workout</span></a>
          </section>
          
          <section class="calisthenics">
            <div><a href="#"><img class="imgBox" src="img/bodyweight.jpg" alt="Calisthenics Workout"></a></div>
            <a href="#"><span class="workoutText">Calisthenics</span></a>
          </section>
        </section>

        <hr>

        <section class="backWorkout">
            <h2 class="BackExercises">Back Workouts</h2>
          <section class="rowBack">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/bentoverrow.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Bent Over Row Instructions</h3>
              <ol>
                <li><p>Assume a standing position while holding the bar using a double overhand grip.</p></li>
                <li><p>Hinge forward until your torso is roughly parallel with the floor (or slightly above) and then begin the movement by driving the elbows behind the body while retracting the shoulder blades.</p></li>
                <li><p>Pull the bar towards your belly button until it touches your body and then slowly lower the bar back to the starting position under control.</p></li>
                <li><p>Repeat for the desired number of repetitions.p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/latpulldown.jpeg" alt="Class of water"></div>
              <h3 class="backText">Lat Pulldown Instructions</h3>
              <ol>
                <li>Attach a wide grip handle to the lat pulldown machine and assume a seated position.</li>
                <li>Grasp the handle with a pronated grip (double overhand) and initiate the movement by depressing the shoulder blade and then flexing the elbow while extending the shoulder.</li>
                <li>Pull the handle towards your body until the elbows are in line with your torso and then slowly lower the handle back to the starting position under control.</li>
                <li>Repeat for the desired number of repetitions.</li>
              </ol>
            </section>
          </section>

          <section class="rowBack">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/cablerow.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Seated Cable Row Instructions</h3>
              <ol>
                <li><p>Set the appropriate weight on the weight stack and attach a close-grip bar or V-bar to the seated row machine.</p></li>
                <li><p>Grasp the bar with a neutral grip (palms facing in).</p></li>
                <li><p>Keeping your legs slightly bent and your back straight, pull the weight up slightly off the stack. You should be sitting straight upright with your shoulders back. This is the starting position.</p></li>
                <li><p>Keeping your body in position, pull the handle into your stomach.</li>
                <li><p>Pull your shoulder blades back, squeeze, pause, and then slowly lower the weight back to the starting position.</p></li>
                <li><p>Repeat for desired reps.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              
              <div><img class="imgBack" src="img/dumbbellsquat.jpeg" alt="Class of water"></div>
              <h3 class="backText">Dumbbell Deadlift Instructions</h3>
              <ol>
                <li><p>Set up for the dumbbell deadlift by choosing a pair of dumbbells and placing them on the floor in front of you.</p></li>
                <li><p>Stand with your feet at around shoulder width apart and position the dumbbells on the floor so that they are on either side of your feet.</p></li>
                <li><p>Reach down and grab the dumbbells with a neutral grip (palms facing inward) and drop your hips.Your hips should be in the best, most natural position for leverage so you may need to raise or lower them slightly.</p></li>
                <li><p>Make sure your eyes are looking ahead. Your body will follow your head so keep your head up and eyes forward!</p></li>
                <li><p>Be sure to keep a straight back and never allow it to round. You are now in the starting position.</p></li>
                <li><p>Focus on standing up with the dumbbells - not pulling them from the floor, and lead with your head as you rise</p></li>
                <li><p>Drive with your heals and explode upward (leading with your head) as you rise.</p></li>
                <li><p>As the dumbbells rise to knee level, thrust your hips forward and contract your back by bringing your shoulder blades back.</p></li>
                <li><p>Pause here for a moment and then reverse the movement by bending at the knees while slowly lowering the weight - keeping the dumbbells under strict control on the descent.</p></li>
                <li><p>Reset your stance if necessary and repeat for desired reps.</p></li>
              </ol>
            </section>
          </section>
            
          <h2 class="BackExercises">Abs Workouts</h2>
          
          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/legraise.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Lying Floor Leg Raise Instructions</h3>
              <ol>
                <li><p>Lay supine in a relaxed position with your legs straight and your hands underneath your low back for support.</p></li>
                <li><p>Keep your legs straight and raise them towards your forehead while contracting your abdominals and exhaling.</p></li>
                <li><p>Once your abs are fully contracted and your legs are slightly above parallel, slowly lower your legs back to the starting position.</p></li>
                <li><p>Complete for the assigned number of repetitions.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/situp.jpeg" alt="Class of water"></div>
              <h3 class="backText">Sit Up Instructions</h3>
              <ol>
               <li><p>Lay supine in a relaxed position with your knees up and hands across your chest.</p></li>
               <li><p>Exhale and squeeze your abs as you curl your upper body off the floor.</p></li>
               <li><p>Once your torso is perpendicular to the floor, slowly lower yourself back to the starting position.</p></li>
               <li><p>Complete for the assigned number of repetitions.</p></li>
              </ol>
            </section>
          </section>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/plank.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Plank Instructions</h3>
              <ol>
                <li><p>The Plank is a stationary exercise that helps strengthen the entire core of the body. Set up for the plank by getting a mat and laying down on your stomach.</p></li>
                <li><p>To start the exercise prop your torso up on your elbows and your feet up on your toes.</p></li>
                <li><p>Keeping yourself completely straight, hold this position for as long as possible.</p></li>
                <li><p>Typically, the plank is done for 3 x 1 minute sets. However, as you get stronger your should be able to do 1 - 3 minutes.</p></li>

              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/bicycle.jpeg" alt="Class of water"></div>
              <h3 class="backText">Abdominal Air Bike (AKA Bicycle) Instructions</h3>
              <ol>
                <li><p>Lay supine in a relaxed position with your arms behind your head and legs straight.</p></li>
                <li><p>Exhale as you raise one knee towards your face while driving the opposite elbow to the knee.</p></li>
                <li><p>Once your abs are fully contracted, slowly lower yourself back to the starting position and repeat on the opposite side.</p></li>
                <li><p>Complete for the assigned number of repetitions.</p></li>

            </section>
          </section>

          <h2 class="BackExercises">Bicep Workouts</h2>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/barbellcurl.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Standing Barbell Curl Instructions</h3>
              <ol>
                <li><p>The standing barbell curl is the cornerstone of many bicep building routines. Grasp a barbell or Olympic bar at around shoulder width apart using an underhand grip (palms facing up).</p></li>
                <li><p>Stand straight up, feet together (you may be more comfortable putting one foot back for stability), back straight, and with your arms fully extended.</p></li>
                <li><p>The bar should not be touching your body.</p></li>
                <li><p>Keeping your eyes facing forwards, elbows tucked in at your sides, and your body completely still, slowly curl the bar up.</p></li>
                <li><p>Squeeze your biceps hard at the top of the movement, and then slowly lower it back to the starting position.</p></li>
                <li><p>Repeat for desired reps.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/curl.jpeg" alt="Class of water"></div>
              <h3 class="backText">Concentration Curl Instructions</h3>
              <ol>
                <li><p>Select the desired weight from the rack, and sit in an upright position on a flat bench.</p></li>
                <li><p>Hinge forward and position your elbow near the base of your knee. Place your free hand on the other knee to stabilize yourself.</p></li>
                <li><p>Using a supinated (palms facing up) grip, take a deep breath and curl the dumbbell towards your shoulder.</p></li>
                <li><p>Once the bicep is fully shortened, slowly lower the weight back to the starting position.</p></li>
                <li><p>Repeat for the desired number of repetitions on both sides.</p></li>
              </ol>
            </section>
          </section>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/cablecurl.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Cable Curl Instructions</h3>
              <ol>
                <li><p>Set up for the rope cable curl by attaching a rope extension to the low pulley cable and selecting the weight you want to use on the stack.</p></li>
                <li><p>Stand facing the cable machine with your legs shoulder width apart.</p></li>
                <li><p>Grasp the rope extension with a neutral grip (thumbs facing the body).</p></li>
                <li><p>Keeping your elbows tucked in by your sides, slowly curl the rope up as far as possible.</p></li>
                <li><p>Squeeze the biceps at the top of the movement, and then slowly lower the weight back to starting position.</p></li>
                <li><p>Do not pause, and go straight into the next rep!</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/preachercurl.jpeg" alt="Class of water"></div>
              <h3 class="backText">Dumbbell Hammer Preacher Curl Instructions</h3>
              <ol>
                <li><p>Select the desired weight from the rack, and sit in an upright position with your chest flat against the preacher bench.</p></li>
                <li><p>Keep your upper arm pressed into the pad and use a neutral (palms facing up) grip.</p></li>
                <li><p>Take a deep breath and slowly lower the dumbbell away from your shoulder.</p></li>
                <li><p>Once the bicep is fully lengthened, curl the weight back to the starting position.</p></li>
                <li><p>Repeat for the desired number of repetitions on both sides.</p></li>
              </ol>  
            </section>
          </section>

          <h2 class="BackExercises">Leg Workouts</h2>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/deadlift.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Stiff Deadlift Instructions</h3>
              <ol>
                <li><p>Position the bar over the top of your shoelaces and assume a hip width stance.</p></li>
                <li><p>Push your hips back and hinge forward until your torso is nearly parallel with the floor.</p></li>
                <li><p>Reach down and grasp the bar using a shoulder width, double overhand grip.</p></li>
                <li><p>Ensure your spine is neutral, shin is vertical, and your hips are roughly the same height as your shoulders.</p></li>
                <li><p>Drive through the whole foot and focus on pushing the floor away.</p></li>
                <li><p>Ensure the bar tracks in a straight line as you extend the knees and hips.</p></li>
                <li><p>Once you have locked out the hips, reverse the movement by pushing the hips back and hinging forward.</p></li>
                <li><p>Return the bar to the floor, reset, and repeat for the desired number of repetitions.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/seatedleg.jpeg" alt="Class of water"></div>
              <h3 class="backText">Seated Leg Curl Instructions</h3>
              <ol>
                <li><p>To keep tension on the hamstrings, keep the knees just shy of lockout.</p></li>
                <li><p>Don’t allow the back to arch, keep your hips pressed into the pad.</p></li>
                <li><p>Keep your low back flat against the pad throughout the movement.</p></li>
                <li><p>Ensure the head does not just forward excessively.</p></li>
                <li><p>Don’t allow momentum to dictate the tempo of the exercise, control the movement throughout the entire range of motion.</p></li>
              </ol>
            </section>
          </section>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/hipthrust.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Hip Thrust Instructions</h3>
              <ol>
               <li><p>Start in a supine position with your back on a bench and roll a barbell up to the crease of your hips.</p></li>
               <li><p>Drive both feet into the floor and squeeze your glutes while bridging your hips up.</p></li>
               <li><p>Lower your hips back to the starting position and repeat for the desired number of repetitions.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/calfraise.jpeg" alt="Class of water"></div>
              <h3 class="backText">Seated Calf Raise Instructions</h3>
              <ol>
               <li><p>Take a seat on the machine and place the balls of your feet on the platform with your toes pointed forward - your heels will naturally hang off. Position the base of quads under the knee pad and allow your hands to rest on top.</p></li>
               <li><p>Extend your ankles and release the safety bar.</p></li>
               <li><p>Lower the heels by dorsiflexing the ankles until the calves are fully stretched.</p></li>
               <li><p>Extend the ankles and exhale as you flex the calves.</p></li>
               <li><p>Repeat for the assigned number of repetitions.</p></li>
              </ol>  
            </section>
          </section>

         
          <h2 class="BackExercises">Chest Workouts</h2>
        
          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/barbench.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Incline Bench Press Instructions</h3>
              <ol>
                <li><p>Lie flat on an incline bench and set your hands just outside of shoulder width.</p></li>
                <li><p>Set your shoulder blades by pinching them together and driving them into the bench.</p></li>
                <li><p>Take a deep breath and allow your spotter to help you with the lift off in order to maintain tightness through your upper back.</p></li>
                <li><p>Let the weight settle and ensure your upper back remains tight after lift off.</p></li>
                <li><p>Inhale and allow the bar to descend slowly by unlocking the elbows.</p></li>
                <li><p>Lower the bar in a straight line to the base of the sternum (breastbone) and touch the chest.</p></li>
                <li><p>Push the bar back up in a straight line by pressing yourself into the bench, driving your feet into the floor for leg drive, and extending the elbows.</p></li>
                <li><p>Repeat for the desired number of repetitions.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/cablefly.jpeg" alt="Class of water"></div>
              <h3 class="backText">Standing Cable Fly Instructions</h3>
              <ol>
                <li><p>Set both pulleys directly at (or slightly above) shoulder height and select the desired weight.</p></li>
                <li><p>Grasp both handles with a neutral grip and take a step forward to split the stance.</p></li>
                <li><p>Press the handles to lockout while flexing the pecs and extending the elbows.</p></li>
                <li><p>Keep a slight bend in the elbows, move entirely at the shoulder joint, and slowly allow the arms to open while the pecs stretch.</p></li>
                <li><p>Return to the starting position by flexing your pecs and bringing the handles together at chest height.</p></li>
                <li><p>Slowly lower back to the starting position and repeat for the desired number of repetitions.</p></li>
              </ol>
            </section>
          </section>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/pullover.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Dumbbell Pullover Instructions</h3>
              <ol>
                <li><p>Grasp a dumbbell with both hands and position yourself on a flat bench with your shoulder blades resting on the bench.</p></li>
                <li><p>You should be at a 90 degree angle to the bench. Your back shoulder be straight, knees bent at 90 degrees, and feet firmly plated on the floor.</p></li>
                <li><p>Holding the dumbbell in both hands, straighten your arms so that dumbbell is directly overhead. This is the starting position.</p></li>
                <li><p>Bending at the shoulders only and keeping your arms straight, slowly lower the weight down behind your head until the dumbbell reaches the height of the bench.</p></li>
                <li><p>Slowly raise the dumbbell back to the starting position.</p></li>
                <li><p>Repeat for desired reps.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/chestdip.jpeg" alt="Class of water"></div>
              <h3 class="backText">Chest Dip Instructions</h3>
              <ol>
                <li><p>Step up on the dip station (if possible) and position your hands with a neutral grip.</p></li>
                <li><p>Initiate the dip by unlocking the elbows and slowly lowering the body until the forearms are almost parallel with the floor.</p></li>
                <li><p>Control the descent to parallel and then drive back to the starting position by pushing through the palms.</p></li>
                <li><p>Repeat for the desired number of repetitions.</p></li>
              </ol>  
            </section>
          </section>

          <h2 class="BackExercises">Calisthenics Workouts</h2>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/pushup.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Push Ups Instructions</h3>
              <ol>
                <li><p>Your arms should resemble an arrow in the bottom position, not a “T”.</p></li>
                <li><p>Your spine should remain rigid throughout the entire exercise, think of the pushup as a moving plank.</p></li>
                <li><p>Squeeze your glutes and brace your abs before descending in order to keep the ribcage neutral.</p></li>
                <li><p>Keep the chin down and don’t look forward.</p></li>
                <li><p>Imagine you’re trying to push your thumbs together while completing the movement, this will improve activation of the pecs.</p></li>
                <li><p>Don’t allow the head to jut forward, the chest should touch at the same time as your nose.</p></li>
                <li><p>Think about trying to push yourself as far away from the floor as possible.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/jumprope.jpeg" alt="Class of water"></div>
              <h3 class="backText">Jump Rope Instructions</h3>
              <ol>
                <li><p>Grasp a jump rope with the handles at your sides and the rope behind your heels.</p></li>
                <li><p>Rotate the wrists to generate velocity and help the rope revolve around the body.</p></li>
                <li><p>As the rope moves toward your feet, jump with both feet to allow it to pass underneath.</p></li>
                <li><p>Repeat for the desired number of repetitions or time.</p></li>
              </ol>
            </section>
          </section>

          <section class="rowAbs">
            <section class="cleanEating">
              <div><img class="imgBack" src="img/lunge.jpeg" alt="Bar Bench Picture"></div>
                <h3 class="backText">Bodyweight Lunge Instructions</h3>
              <ol>
                <li><p>Set up with your feet shoulder width apart</p></li>
                <li><p>Step forward with one leg and allow both knees to bend simultaneously.</p></li>
                <li><p>Descend until the back knee touches the floor.</p></li>
                <li><p>Drive through the front foot and extend the knee as you stand up fully and return to the starting position.</p></li>
                <li><p>Repeat for the desired number of repetitions.</p></li>
              </ol>
            </section>
            
            <section class="fasting">
              <div><img class="imgBack" src="img/pullup.jpeg" alt="Class of water"></div>
              <h3 class="backText">Pull Up Instructions</h3>
              <ol>
                <li><p>Using a pronated grip, grasp the pull bar with a slightly wider than shoulder width grip.</p></li>
                <li><p>Take a deep breath, squeeze your glutes and brace your abs. Depress the shoulder blades and then drive the elbows straight down to the floor while activating the lats.</p></li>
                <li><p>Pull your chin towards the bar until the lats are fully contracted, then slowly lower yourself back to the start position and repeat for the assigned number of repetitions.</p></li>
              </ol>  
            </section>
          </section>
        
          
          
        </section>
      
      </section>

    </section>

    

   
  





  </main>





  
  <footer>
    <section>
      <section class="footerLinks">
        <div class="copyRight">
          <span>&#169; Engee Fitness</span>
        </div>
        
        <div class="footerNavLinks">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/workout">Workouts</a></li>
            <li><a href="/mealplan">Meal Plans</a></li>
          </ul>
        </div>
        
      </section>
    </section>
  </footer>
  
  

 

  






<script src="main.js"></script>  
</body>
</html>