<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <title>Engee Wellness</title>
</head>
<body>

  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee fitness logo"></a>
      </section>
    
      <section class="links">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/workout">Workouts</a></li>
          <li><a href="/mealplan">Meal Plans</a></li>
        </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>
  
  <main>
    <section class="topSection">
      <div class="workoutIntro"><h1>Free Workout Programs</h1></div>
      <p>Workouts created by fitness experts, suitable for any goal or experience level.</p>
    </section>

    <section class="bottomSection">
      <section class="workoutContainer">
        
        <section class="topRow">
          <section class="back">
            <div><img class="imgBox" src="img/back.jpg" alt="Back muscles picture"></div>
            <button type="button" class="btn btn-primary btn-lg lowerBackButton">Lower Back</button>
          </section>
          
          <section class="abs">
            <div><img class="imgBox" src="img/abs.jpg" alt="Abs muscles picture"></div>
            <button type="button" class="btn btn-primary btn-lg absButton">Abdominals</button>
          </section>
          
          <section class="bicep">
            <div><img class="imgBox" src="img/bicep.jpg" alt="Bicep muscles picture"></div>
            <button type="button" class="btn btn-primary btn-lg bicepsButton">Biceps</button>
          </section>
        </section>
        
        <section class="btnRow">
          <section class="leg">
            <div><img class="imgBox" src="img/leg.jpg" alt="Leg Workout"></div>
           <button type="button" class="btn btn-primary btn-lg glutesButton">Glutes</button>
          </section>
          
          <section class="chest">
            <div><img class="imgBox" src="img/chest.jpg" alt="Chest Workout"></div>
            <button type="button" class="btn btn-primary btn-lg chestButton">Chest</button>
           </section>
          
          <section class="calisthenics">
            <div><img class="imgBox" src="img/shoulder.jpeg" alt="Calisthenics Workout"></div>
            <button type="button" class="btn btn-primary btn-lg trapsButton">Traps</button>
          </section>
        </section>

        <hr>
        

        <section class="backWorkout">
          
          <section class="rowBack">
            <section class="cleanEating">
              
                <h3 class="backText sectionOneName"></h3>
              <ol class="workoutSections">
                <section class="sectionOneInstructions"></section>
              </ol>
            </section>
            
            <section class="fasting">
              
              <h3 class="backText sectionTwoName"></h3>
              <ol class="workoutSections">
                <li class="sectionTwoInstructions"></li>
              </ol>
            </section>
          </section>

          <section class="rowBack">
            <section class="cleanEating">
              
              <h3 class="backText sectionThreeName"></h3>
              <ol class="workoutSections">
                <li class="sectionThreeInstructions"></li>
              </ol>
            </section>
            
            
            <section class="fasting">
             
              <h3 class="backText sectionFourName"></h3>
              <ol class="workoutSections">
                <li class="sectionFourInstructions"></li>
              </ol>
            </section>
          </section>
            
            <section class="rowBack">
              <section class="cleanEating">
               
                <h3 class="backText sectionFiveName"></h3>
                <ol class="workoutSections">
                  <li class="sectionFiveInstructions"></li>
               </ol>
              </section>

              <section class="fasting">
                
                <h3 class="backText sectionSixName"></h3>
                <ol class="workoutSections">
                  <li class="sectionSixInstructions"></li>
                </ol>
              </section>
            </section>
        </section>
      </section>
    </section>
  </main>

  <footer>
    <section>
      <section class="footerLinks">
        <div class="copyRight">
          <span>&#169; Engee Wellness</span>
        </div>
      </section>
    </section>
  </footer>
  
  

 

  






<script src="main.js"></script>  
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

</body>
</html>