* {
  box-sizing: border-box;
}

header, footer {
    clear:both;
}

.loginForm {
    margin-top: 6%;
    
}


/* BUTTONS */



.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* ========================= */
/* == NAV WEBSITE TEMPLATE ==*/
/* ========================= */

nav {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  background-color: rgb(3,85,153,1); 
  height: 65px;
  position:fixed;
  width: 100%;  
} 


.logo {
    border: 2px solid transparent;
    display:flex;
    flex-direction: row;
    float:left;
    width: 20%;
    height: 65px;
}

.logoPic {
    border: 2px solid transparent;
    height: 55px;
    width: 55px;
    margin-left: 100%;
}

.links {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    float:left;
    width: 60%;
    height: 64px;
    padding-top: 1%;
}


.links ul {
    border: 2px solid transparent;
    width: 100%;
    margin-left: 9%;
}

.links li {
  border: 2px solid transparent;
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 15%;
}

.links a {
   text-decoration: none;
   color: white;
}

.accountlinks {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 64px;
    padding-top: 1%;
}

.accountlinks li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
}

.accountlinks ul {
    margin-left:25%;
}

.accountlinks a {
    text-decoration: none;
    color: white;
}

/* PROFILE LOGO*/
.fa-solid {
    color: white;
}
/* PROFILE LOGO*/

.signIn {
    position: relative;
    left: 10px;
}

/* ========================= */
/* == NAV WEBSITE TEMPLATE ==*/
/* ========================= */

/* ======================= */
/* TOPPPPP SECTION TEMPLATE*/
/* ======================= */

.topSection {
    border: 2px solid black;
    background-image: url(img/gymbackground.jpg);
    background-size: 100%;
    height: 500px;
}


.intro {
    border: 2px solid transparent;
    height: 107px;
    width:  919px;
    margin-left: 13%;
    text-align: center;
    margin-top: 9%;
    color: white;
}

.intro h1 {
    font-size: 78px;
    width: 105%;
}

.topSection h2 {
    font-size: 50px;
    color: white;
    
}

.btn-primary {
    margin-right: 6%;
    margin-top: 5%;
}

.introText {
    margin-left: 36%;
}

/* ======================= */
/* TOPPPPP SECTION TEMPLATE*/
/* ======================= */




/* ==================================== */
/*====== BOTTOMMMM SECITON TEMPLATE==== */
/* ==================================== */
.bottomSection {
   border: 2px solid transparent;
   margin-top: 2%;
}

.sectionRight {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 50%;
}

.workout {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
   
}

.sectionLeft {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 50%;
}

.sectionRight img {
    margin-left: 7%;
}

.sectionLeft {
    border: 2px solid transparent;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text1 {
    border: 2px solid transparent;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.text1 h2 {
    font-size: 39px;
    margin-top: 14%;
    margin-left: 28%;
}

.text2 {
    border: 2px solid transparent;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text2 p {
    width: 70%;
    margin-left: 31%;
    font-size: 18px;
    margin-top: 3%;
}

.workoutButton {
    margin-left: 45%;
    margin-top: 1%;
}

.dietPlan {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
}

.dietLeft {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    height: 390px;
    width: 50%;
}

.dietLeft img {
    height: 344px;
    width: 490px;
    margin-left: 23%;
    margin-top: 5%;
}

.dietRight {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 390px;
    width: 50%;
}

.dietTextOne {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.dietTextOne h2 {
    font-size: 39px;
    margin-top: 18%;
}

.dietTextTwo {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.dietTextTwo p {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    font-size: 18px;
    margin-left: 8%;
}


.dietButton {
    margin-top: 1%;
    margin-left: 32%;
}
/* ==================================== */
/*====== BOTTOMMMM SECITON TEMPLATE==== */
/* ==================================== */



/* ==================================== */
/*====== FOOTERR WEBSITE  TEMPLATE==== */
/* ==================================== */


footer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    background-color: rgb(3,85,153,1);
    margin-top: 1%;
}

.copyRight {
   border: 2px solid transparent;
   font-size: 18px;
   color: white;
   width: 22%;
   display: flex;
   flex-direction: row;
   padding-top: 1%;
   
}

.copyRight span {
    margin-left: 19%;
}

.footerNavLinks {
    border: 2px solid transparent;
    width: 80%;
    display: flex;
    flex-direction: row;
}


.footerLinks {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}


.footerLinks ul {
    margin-left: 9%;
    border: 2px solid transparent;
    width: 100%;
    padding-top: .5%;
}


.footerLinks li {
    border: 2px solid transparent;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 11%;
    font-size: 20px;
}

.footerLinks a {
    border: 2px solid transparent;
   text-decoration: none;
   color: white;
}

/* ==================================== */
/*====== FOOTERR WEBSITE TEMPLATE==== */
/* ==================================== */


/* ====================== */
/* WORKOUT TEMPLATE PAGE */
/* ====================== */

.workoutIntro {
    border: 2px solid transparent;
    height: 107px;
    width:  919px;
    margin-left: 18%;
    text-align: center;
    margin-top: 9%;
    color: white;
}

.workoutIntro h1 {
    font-size: 78px;
}

.topSection p {
    font-size: 30px;
    color:white;
    width: 80%;
    margin-left: 12%;
    
}

/* WOURKOUT PAGE SECTION */


.topRow {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 18%;
    
}

.back {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.abs {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.bicep {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.btnRow {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 18%;
    margin-top: 2%;
}

.leg {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.chest {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;  
    height: 250px;
    width: 25%;
}

.calisthenics {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.imgBox {
    border: 2px solid transparent;
    height: 185px;
    width: 270px;
    display: flex;
    flex-direction: column;
}

.workoutText {
    border: 2px solid black;
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    font-size: 20px;
    padding-left: 1%;
}


ol li {
    list-style: none;
}

.sectionOneMuscle, 
.sectionTwoMuscle, 
.sectionThreeMuscle, 
.sectionFourMuscle, 
.sectionFiveMuscle, 
.sectionSixMuscle {
    text-align: center;
}

::first-letter .sectionOneMuscle, 
.sectionTwoMuscle, 
.sectionThreeMuscle, 
.sectionFourMuscle, 
.sectionFiveMuscle, 
.sectionSixMuscle {
    text-transform:capitalize;
}


/* ====================== */
/* WORKOUT TEMPLATE PAGE */
/* ====================== */



/*============================= */
/*==== MEAL PLANSSSSSSS PAGE=== */
/*============================ */

.nutrionAPI {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-size: 100%;
}

.apiInfoBox {
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width:27%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.apiInfoBox ul {
  list-style: none;
}

.apiInfoBox h3 {
    text-align: center;
}

.getInfo {
    border: 2px solid black;
    width: 20%;
    margin-left: 24%;
    margin-right: auto;
    width: 50%;
}

.apiInfo {
    border: 2px solid black;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.warningMsg {
    color:red;
    margin-left: 4%;
}

.apiInput {
    border: 2px solid transparent;
    font-size: 19px;
    width: 100%;
    color: rgb(3,85,153,1);
    margin-left: 21%;
    margin-right: auto;
}

   .displayAPI {
    border: 2px solid black;
    margin-left: 28%;
    margin-right: auto;
    margin-bottom: 5%;
    width: 43%;
    }

    .macrosSection {
        border: 2px solid transparent;
        background-image: url(img/healthyeating.jpeg);
        background-size: 100%;
        background-position-y: -81%;
        width: 62%;
    }
    
    .macros {
        border: 2px solid transparent;
        border-radius: 10px;
        margin-top: 2%;
        margin-bottom: 6%;
        width:100%;
    }
 
    .macros h2 {
        margin-left: 25%;
    }
    
    .macros li {
        margin-left: 4%;
    }
    
    .createMeal {
        border: 2px solid black;
        margin-left: 30%;
        margin-bottom: 4%;
    }

    .macroList {
       width: 90%;
    }

    .seperateMacros {
        border: 2px solid black;
        border-radius: 7px;
        margin-top: 2%;
        box-shadow: 5px 5px 5px black;
        margin-bottom: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .seperateMacros li {
        font-size: 18px;
    }

    .fa-ban {
        color:black;
        margin-left: 30%;
    }

    .deleteButton {
        color:red;
        margin-left: 45%;
    }

/*============================= */
/*=== MEAL PLANSSSSSSS PAGE === */
/*============================ */

/* PROFILE PAGE */


.accountContainer {
    border: 2px solid transparent;
    height: 579px;
    width: 830px;
    margin-left: 18%;
}

.accountBox {
    border: 2px solid black;
    height: 320px;
    width: 550px;
    margin-left: 18%;
    margin-top: 19%;
    border-radius: 10px;
}

.accountInput {
    border: 2px solid transparent;
    width: 440px;
    height: 240px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.accountEmail, .accountPassword {
    width: 390px;
    height: 40px;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 3%;
}

.makeAccount {
    border: 2px solid transparent;
    height: 30px;
    width: 150px;
    margin-top: 5%;
    margin-left: 33%;
}

#accountButton {
    width: 393px;
    position: relative;
    right: 101%;
    margin-top: 10%;
}

.macroBoxes {
    width: 100%;
}



/* PROFILE PAGE */


/* =================================== */
/* ========== SIGN UP PAGE  ========== */
/* =================================== */

.signupContainer {
    border: 2px solid transparent;
    /* background-color: lightgray; */    
}

.signupBox {
    border: 2px solid transparent;
    height: 494px;
    width: 400px;
    margin-top: 6%;
    margin-left: 34%;
    background-color: transparent;
}

.signupInput {
    border: 2px solid black;
    height: 390px;
    width: 398px;
    margin-top: 18%;
    background-color: white;
    border-radius: 10px;
}

.signupInput span {
    color:red;
    font-size: 11px;
}

.signupInput li {
    list-style: none;
    margin-top: 2%;
}

.signupForm {
    width: 300px;
    height: 40px;
}

#signUpButton {
  margin-left: 23%;
}


/* =================================== */
/* ========/* SIGN UP PAGE  ========== */
/* =================================== */



/* =================================== */
/* ========/* WORKOUT PAGE ========== */
/* =================================== */

.BackExercises {
    text-align: center;
}

.RowBack {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.cleanEating {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.fasting {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.imgBack {
    border: 2px solid transparent;
    width: 497px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.backText {
    text-align: center;
}

.rowAbs {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.rowBack {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.cleanEating {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.fasting {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.imgBack {
    border: 2px solid transparent;
    width: 497px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.backText {
    text-align: center;
}

/* .workoutSections {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
} */

/* =================================== */
/* ========/* WORKOUT PAGE ========== */
/* =================================== */


/* ********************************* */



/* =================================== */
/* ========== PROFILE PAGE =========== */
/* =================================== */
header h1 {
    text-align: center;
    color: black;
  }
  
  .btn-sm {
    margin-left: 5%;
    margin-top: 2%;
  }
  
  .dates h3 {
    color: black;
  }
  
  
  .orders {
    border: 2px solid transparent;
    text-align: center;
    color: black; 
  }
  
  .mealSection {
    border: 2px solid red;
    width: 100%;
  }
  
  
  .messages {
    border: 2px solid transparent;
    margin-left: 5%;
    list-style-position: inside;
    margin-left: 10%;
   
  }
  
  .messages li {
    list-style: none; 
    text-align: center;
    /* color: rgb(255,165,0); */
}
  
  .fa-heart  {
    margin-left: 23%;
    color: white;
  }
  
  .fa-trash-o {
    color: black;
    margin-left: 23%;
    font-weight: bolder;
    font-size: 17px;
  }
/* ======================================= */
/* ======= MEALS OF THE DAY INPUTS ======= */
/* ======================================= */
  
  .calorieTracker {
    border: 2px solid transparent;
    display: flex;
    background-image: url(img/nutrients.jpeg);
    background-size: 100%;
  }

  .dailyMealForm {
    border: 2px solid transparent;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;

  }
  
  .dailyMeal {
    border: 2px solid black;
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: 30%;
    margin-top: 6%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    
  }
  
  .dailyMeal button {
    margin-top: 2%;
    margin-bottom: 3%;
  }
  
  .txtInput {
    border: 2px solid transparent;
    margin-top: 3%;
  }
  
  .txtInput input {
    border: 2px solid black;
    width: 35%;
    text-align: center;
    margin-left: 13%;
  }
  
  #mealTxt {
    /* border: 2px solid black; */
    margin-left: 22%;
    text-align: center;
    margin-top: 3%;
  }
  
  #mealTxt input {
    border: 2px solid black;
    text-align: center;
    margin-right: 26%;
  }
  
  .input {
    border: 2px solid transparent;
    font-size: 19px;
    width: 100%;
    margin-top: 1%;
    color: black;
    font-weight: bold;
  }
  
  .meal {
    border: 1px solid transparent;
    margin-top: 3%;
  }
  
  .calories {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .protein {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .carbs {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .fats {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .options {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .daysContainer {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    
  }
  
  .daysSection {
    border: 2px solid transparent;
  }
  
  .daysSection h2 {
    color: rgb(3,85,153,1);
    text-align: center;
  }
  
  .daysTxt {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 2%;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 6%;
  }

  .apiCalories {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }

  .apiProtein {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }

  .apiCarbs {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }

  .apiFats {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }
 
  
  /* ======================================= */
/* ======= MEALS OF THE DAY INPUTS ======= */
/* ======================================= */
  
  .checkgreen {
    color: red;
    
  }
  
  .checkblack {
    color: black;
  }
  
  
  .localInfo {
    visibility: hidden;
  }
  
 
  
/* =================================== */
/* ========== PROFILE PAGE =========== */
/* =================================== */

/* MEDIAAAAAA QUIERIES */


/* ============================== */
/* ========== HOME PAGE ========= */
/* ============================== */
@media (max-width: 1319px) and (min-width: 1246px) {
    .text1 h2 {
        margin-left: 30%;
        margin-right: auto;
    }

    .dietTextOne h2 {
        margin-left: 3%;
        margin-right: auto;
        width: 99%;
        margin-top: 19%;
    }

    .dietTextTwo p {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}


@media (max-width: 1245px) and (min-width: 1200px) {
    .text1 h2 {
        margin-left: 29%;
        margin-right: auto;
        width: 100%;
    }
    
    
    .dietTextOne h2 {
        margin-left: 24%;
        margin-right: auto;
        margin-top: 11%;
        width: 70%;
    }   

    .dietTextTwo p {
        margin-left: 18%;
        margin-right: auto;
        width: 70%;
    }
    .copyRight {
        width: 23%;
    }
}


@media(max-width: 1200px) and (min-width: 1100px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
    }
    
    .text1 h2 {
        margin-left: 12%;;
        margin-right: auto;
        width: 100%;
    }

    .text2 p {
       margin-left: auto;
       margin-right: auto; 
       width: 73%;
    }

    .dietTextOne h2 {
        margin-left: 23%;
        margin-right: auto;
        width: 50%;
        margin-top: 11%;
        width: 70%;
    } 

    .dietTextTwo p {
        margin-left: 18%;
        margin-right: auto;
        width: 70%;
    }

    .dietLeft img {
        margin-left: auto;
        margin-right: auto;
    }

    .workoutButton {
        margin-left: 30%;
    }

    .copyRight {
        width: 25%;
    }

}

@media (max-width: 1099px) and (min-width: 859px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 104%;
        margin-top: 13%;
    }

    .intro h1 {
        font-size: 65px;
        width: 100%;
    }

    .topSection button {
        margin-top: 20%;
    }

    .link {
        margin-left: auto;
        margin-right: auto;
    }

    .text1 h2 {
        margin-left: 3%;
        margin-right: auto;
        width: 100%;
    }

    .text2 p {
        margin-left: 17%;
        margin-right: auto; 
        width: 73%;
     }
     
     .text2 button {
        margin-left:29%;
        margin-top: 1%;
    }

    .dietTextOne h2 {
        margin-left: 28%;
        margin-right: auto;
        width: 50%;
        margin-top: 11%;
        width: 70%;
    } 

    .dietTextTwo {
        margin-bottom: 7%;
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
    }

    .dietTextTwo p {
        margin-left: 15%;
        margin-right: auto;
        width: 75%;
    }

    .dietTextTwo button {
        margin-top: 4%;
    }

    .dietLeft img {
        margin-left: auto;
        margin-right: auto;
    }

    .copyRight {
        width: 32%;
    }

    .footerLinks ul {
        margin-left: 0%;
        border: 2px solid transparent;
        width: 100%;
        padding-top: .5%;
    }

    .links ul {
        border: 2px solid transparent;
        width: 100%;
        margin-left: 6%;
    }

    .links li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 11%;
    }

    .sectionRight img {
        margin-left: 2%;
        height: 300px;
        width: 430px;
    }

    .dietLeft img {
        height: 300px;
        width: 430px;
        margin-left: 3%;
        margin-top: 5%;
    }
    .text2 {
        border: 2px solid transparent;
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .text1 {
        border: 2px solid transparent;
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .dietTextOne h2 {
        margin-left: 15%;
        margin-right: auto;
        margin-top: 11%;
        width: 80%;
    }
}

@media (max-width: 859px) and (min-width: 815px) {
    .logo {
        border: 2px solid transparent;
        display: flex;
        flex-direction: row;
        float: left;
        width: 12%;
        height: 65px;
    }
    
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 16%;
    }

    .intro h1 {
        font-size: 64px;
        width: 100%;
    }

    .introText {
        margin-left: 28%;
    }

    .links li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 11%;
    }

    .accountlinks ul {
        margin-left: 22%;
    }

    .text1 {
        border: 2px solid transparent;
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text1 h2 {
        font-size: 39px;
        margin-top: 14%;
        margin-left: 6%;
    }

    .text2 p {
        margin-left: 5%;
        margin-right: auto;
        width: 100%;
    }

    .dietTextOne h2 {
        margin-left: 8%;
        margin-right: auto;
        margin-top: 11%;
        width: 93%;
        text-align: center;
    }

    .dietTextTwo p {
        margin-left: 12%;
        margin-right: auto;
        width: 90%;
    }

    .dietTextTwo button {
        margin-top: 3%;
        margin-left: 38%;
    }

    .topSection button {
        margin-top: 20%;
    }

    .link {
        margin-left: auto;
        margin-right: auto;
    }

    .text2 p {
        margin-left: auto;
        margin-right: auto; 
        width: 73%;
     }
     
     .text2 button {
        margin-left:29%;
        margin-top: 1%;
    }

    .sectionRight img {
        margin-left: -7%;
        height: 300px;
        width: 430px;
    }

    .dietTextTwo {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin-bottom: 11%;
    }

    .dietTextTwo button {
        margin-top: 4%;
    }

    .dietLeft img {
        margin-left: auto;
        margin-right: auto;
    }

    .dietLeft img {
        height: 300px;
        width: 430px;
        margin-left: 3%;
        margin-top: 5%;
    }

    .footerLinks ul {
        margin-left: 1%;
        border: 2px solid transparent;
        width: 100%;
        padding-top: .5%;
    }

    .copyRight {
        width: 32%;
    }

}

@media (max-width: 815px) and (min-width: 800px) {

    .logo {
        border: 2px solid transparent;
        display: flex;
        flex-direction: row;
        float: left;
        width: 12%;
        height: 65px;
    }
    
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 16%;
    }

    .intro h1 {
        font-size: 60px;
        width: 100%;
    }

    .introText {
        margin-left: 28%;
    }

    .links li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 9%;
    }

    .accountlinks {
        border: 2px solid transparent;
        display: flex;
        flex-direction: row;
        width: 23%;
        height: 64px;
        padding-top: 1%;
    }

    .text1 {
        border: 2px solid transparent;
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text1 h2 {
        font-size: 39px;
        margin-top: 14%;
        margin-left: 6%;
    }

    .text2 p {
        margin-left: 5%;
        margin-right: auto;
        width: 100%;
    }

    .dietTextOne h2 {
        margin-left: 8%;
        margin-right: auto;
        margin-top: 11%;
        width: 93%;
        text-align: center;
    }

    .dietTextTwo p {
        margin-left: 15%;
        margin-right: auto;
        width: 90%;
    }

    .dietTextTwo button {
        margin-top: 3%;
        margin-left: 38%;
    }

    .topSection button {
        margin-top: 20%;
    }

    .link {
        margin-left: auto;
        margin-right: auto;
    }

    .text2 p {
        margin-left: auto;
        margin-right: auto; 
        width: 73%;
     }
     
     .text2 button {
        margin-left:29%;
        margin-top: 1%;
    }

    .sectionRight img {
        margin-left: -7%;
        height: 300px;
        width: 430px;
    }

    .dietTextTwo {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin-bottom: 11%;
    }

    .dietTextTwo button {
        margin-top: 4%;
    }

    .dietLeft img {
        margin-left: auto;
        margin-right: auto;
    }

    .dietLeft img {
        height: 300px;
        width: 430px;
        margin-left: 3%;
        margin-top: 5%;
    }

    .footerLinks ul {
        margin-left: 1%;
        border: 2px solid transparent;
        width: 100%;
        padding-top: .5%;
    }

    .footerLinks li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 4%;
        font-size: 20px;
    }

    .copyRight {
        width: 35%;
    }
}

@media (max-width: 800px) and (min-width: 768px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 16%;
    }

    .intro h1 {
        font-size: 60px;
        width: 100%;
    }

    .introText {
        margin-left: 28%;
    }

    .topSection h2 {
        font-size: 50px;
        color: white;
    }

    .links ul {
        border: 2px solid transparent;
        width: 100%;
        margin-left: 9%;
    }

    .links li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 9%;
    }

    .accountlinks {
        border: 2px solid transparent;
        display: flex;
        flex-direction: row;
        width: 17%;
        height: 64px;
        padding-top: 1%;
    }

    .accountlinks ul {
        margin-left: 0%;
    }

    .workout {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
    }

    .sectionLeft {
        border: 2px solid transparent;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .text1 h2 {
        font-size: 39px;
        margin-top: 0%;
        margin-left: 27%;
    }

    .text2 p {
        width: 100%;
        margin-left: 2%;
        font-size: 18px;
        margin-top: -10%;
    }

    .workoutButton {
        margin-left: 37%;
    }

    .sectionRight {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 100%;
        margin-top: -22%;
    }

    .sectionRight img {
        margin-left: 16%;
        width: 500px;
        margin-right: auto;
        margin-top: 1%;
    }

    .dietPlan {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
    }

    .dietLeft img {
        height: 344px;
        width: 490px;
        margin-left: 32%;
        /* margin-top: 5%; */
        margin-top: 75%;
    }

    .dietTextOne {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        position: relative;
        bottom: 103%;
        left: 56%;
    }

    .dietTextOne h2 {
        font-size: 39px;
        margin-top: 9%;
        width: 160%;
        position: relative;
        right: 36%;
    }

    .dietTextTwo {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        position: relative;
        bottom: 124%;
        left: 51%;
    }

    .dietTextTwo p {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 161%;
        font-size: 18px;
        margin-left: -29%;
    }

    .dietButton {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        margin-top: -11%;
        margin-left: 32%;
    }
    
    .footerLinks li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 5%;
        font-size: 20px;
    }

    .copyRight {
        border: 2px solid transparent;
        font-size: 18px;
        color: white;
        width: 39%;
        display: flex;
        flex-direction: row;
        padding-top: 1%;
    }

    .copyRight span {
        margin-left: 8%;
    }

}

@media (max-width: 768px) and (min-width: 650px) {
    .topSection {
        border: 2px solid black;
        background-image: url(img/gymbackground.jpg);
        background-size: 100%;
        height: 457px;
    }

    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 16%;
    }

    .intro h1 {
        font-size: 52px;
        width: 100%;
    }

    .introText {
        margin-left: 28%;
    }

    .topSection h2 {
        font-size: 41px;
        color: white;
    }

    .text2 p {
        width: 80%;
        margin-left: 8%;
        font-size: 18px;
        margin-top: -10%;
        text-align: center;
    }

    .links ul {
        border: 2px solid transparent;
        width: 100%;
        margin-left: 3%;
    }

    .links li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 9%;
    }

    .accountlinks {
        border: 2px solid transparent;
        display: flex;
        flex-direction: row;
        width: 19%;
        height: 64px;
        padding-top: 1%;
    }

    .accountlinks ul {
        margin-left: 0%;
    }

    .workout {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
    }

    .sectionLeft {
        border: 2px solid transparent;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .text1 h2 {
        font-size: 39px;
        margin-top: 0%;
        margin-left: 27%;
    }

    .text2 p {
        width: 100%;
        margin-left: 2%;
        font-size: 18px;
        margin-top: -10%;
    }

    .workoutButton {
        margin-left: 37%;
    }

    .sectionRight {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 100%;
        margin-top: -22%;
    }

    .sectionRight img {
        margin-left: 16%;
        width: 500px;
        margin-right: auto;
        margin-top: 5%;
    }

    .dietPlan {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
    }

    .dietLeft img {
        height: 344px;
        width: 490px;
        margin-left: 32%;
        /* margin-top: 5%; */
        margin-top: 75%;
    }

    .dietTextOne {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        position: relative;
        bottom: 103%;
        left: 56%;
    }

    .dietTextOne h2 {
        font-size: 39px;
        margin-top: 9%;
        width: 180%;
        position: relative;
        right: 36%;
    }

    .dietTextTwo {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        position: relative;
        bottom: 124%;
        left: 51%;
    }

    .dietTextTwo p {
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 161%;
        font-size: 18px;
        margin-left: -29%;
    }

    .dietButton {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        margin-top: -11%;
        margin-left: 32%;
    }
    
    .footerLinks li {
        border: 2px solid transparent;
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 5%;
        font-size: 20px;
    }

    .copyRight {
        border: 2px solid transparent;
        font-size: 18px;
        color: white;
        width: 39%;
        display: flex;
        flex-direction: row;
        padding-top: 1%;
    }

    .copyRight span {
        margin-left: 8%;
    }

}

/* MEDIAAAAAA QUIERIES */