* {
  box-sizing: border-box;
}

header, footer {
    clear:both;
}

/* ========================= */
/* == NAV WEBSITE TEMPLATE ==*/
/* ========================= */

nav {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  background-color: rgb(3,85,153,1); 
  height: 65px;
  position:fixed;
  width: 100%;  
} 


.logo {
    border: 2px solid transparent;
    display:flex;
    flex-direction: row;
    float:left;
    width: 20%;
    height: 65px;
}

.logoPic {
    border: 2px solid transparent;
    height: 55px;
    width: 55px;
    margin-left: 50%;
}

.links {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    float:left;
    width: 60%;
    height: 64px;
    padding-top: 1%;
}


.links ul {
    border: 2px solid transparent;
    width: 100%;
    margin-left: 9%;
}

.links li {
  border: 2px solid transparent;
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 15%;
}

.links a {
   text-decoration: none;
   color: white;
}

.accountlinks {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 64px;
    padding-top: 1%;
}

.accountlinks li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
}

.accountlinks ul {
    margin-left:25%;
}

.accountlinks a {
    text-decoration: none;
    color: white;
}

/* PROFILE LOGO*/
.fa-solid {
    color: white;
}
/* PROFILE LOGO*/

.signIn {
    position: relative;
    left: 10px;
}

/* ========================= */
/* == NAV WEBSITE TEMPLATE ==*/
/* ========================= */

/* ======================= */
/* TOPPPPP SECTION TEMPLATE*/
/* ======================= */

.topSection {
    border: 2px solid black;
    background-image: url(img/gymbackground.jpg);
    background-size: 100%;
    height: 500px;
}


.intro {
    border: 2px solid transparent;
    height: 107px;
    width:  919px;
    margin-left: 13%;
    text-align: center;
    margin-top: 9%;
    color: white;
}

.intro h1 {
    font-size: 78px;
    width: 105%;
}

.topSection h2 {
    font-size: 50px;
    color: white;
    
}

.btn-primary {
    margin-left: 45%;
    margin-top: 5%;
}

.introText {
    margin-left: 36%;
}

/* ======================= */
/* TOPPPPP SECTION TEMPLATE*/
/* ======================= */




/* ==================================== */
/*====== BOTTOMMMM SECITON TEMPLATE==== */
/* ==================================== */
.bottomSection {
   border: 2px solid transparent;
   margin-top: 2%;
}

.sectionRight {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 50%;
}

.workout {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
   
}

.sectionLeft {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 50%;
}

.sectionRight img {
    margin-left: 7%;
}

.sectionLeft {
    border: 2px solid transparent;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text1 {
    border: 2px solid transparent;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.text1 h2 {
    font-size: 39px;
    margin-top: 14%;
    margin-left: 28%;
}

.text2 {
    border: 2px solid transparent;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text2 p {
    width: 70%;
    margin-left: 31%;
    font-size: 18px;
    margin-top: 3%;
}

.workoutButton {
    margin-left: 45%;
    margin-top: 1%;
}

.dietPlan {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    
}

.dietLeft {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    height: 390px;
    width: 50%;
}

.dietLeft img {
    height: 344px;
    width: 490px;
    margin-left: 23%;
    margin-top: 5%;

}

.dietRight {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 390px;
    width: 50%;
}

.dietTextOne {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.dietTextOne h2 {
    font-size: 39px;
    margin-top: 18%;
}

.dietTextTwo {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.dietTextTwo p {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    font-size: 18px;
    margin-left: 18%;
}

.dietButton {
    margin-top: 1%;
    margin-left: 40%;
}
/* ==================================== */
/*====== BOTTOMMMM SECITON TEMPLATE==== */
/* ==================================== */



/* ==================================== */
/*====== FOOTERR WEBSITE  TEMPLATE==== */
/* ==================================== */


footer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    background-color: rgb(3,85,153,1);
    margin-top: 1%;
}

.copyRight {
   border: 2px solid transparent;
   font-size: 18px;
   color: white;
   width: 20%;
   display: flex;
   flex-direction: row;
   padding-top: .5%;
   
}

.copyRight span {
    margin-left: 19%;
}

.footerNavLinks {
    border: 2px solid transparent;
    width: 80%;
    display: flex;
    flex-direction: row;
}


.footerLinks {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    /* padding-top: .5%; */
    
}


.footerLinks ul {
    margin-left: 9%;
    border: 2px solid transparent;
    width: 100%;
    padding-top: .5%;
   
}


.footerLinks li {
    border: 2px solid transparent;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 10%;
    font-size: 20px;
  }

.footerLinks a {
    border: 2px solid transparent;
   text-decoration: none;
   color: white;
}

/* ==================================== */
/*====== FOOTERR WEBSITE TEMPLATE==== */
/* ==================================== */


/* ====================== */
/* WORKOUT TEMPLATE PAGE */
/* ====================== */

.workoutIntro {
    border: 2px solid transparent;
    height: 107px;
    width:  919px;
    margin-left: 18%;
    text-align: center;
    margin-top: 9%;
    color: white;
}

.workoutIntro h1 {
    font-size: 78px;
}

.topSection p {
    font-size: 30px;
    color:white;
    width: 80%;
    margin-left: 12%;
    margin-top: 5%;
}

/* WOURKOUT PAGE SECTION */


.topRow {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 18%;
    
}

.back {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.abs {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.bicep {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.btnRow {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 18%;
    margin-top: 2%;
}

.leg {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.chest {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;  
    height: 250px;
    width: 25%;
}

.calisthenics {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
}

.imgBox {
    border: 2px solid transparent;
    height: 185px;
    width: 270px;
    display: flex;
    flex-direction: column;
}

.workoutText {
    border: 2px solid black;
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    font-size: 20px;
}


ol li {
    list-style: none;
}

.sectionOneMuscle, 
.sectionTwoMuscle, 
.sectionThreeMuscle, 
.sectionFourMuscle, 
.sectionFiveMuscle, 
.sectionSixMuscle {
    text-align: center;
}

::first-letter .sectionOneMuscle, 
.sectionTwoMuscle, 
.sectionThreeMuscle, 
.sectionFourMuscle, 
.sectionFiveMuscle, 
.sectionSixMuscle {
    text-transform:capitalize;
}

.chestButton, .trapsButton, .glutesButton, .bicepsButton {
    padding-left: 10%;
}

/* ====================== */
/* WORKOUT TEMPLATE PAGE */
/* ====================== */



/*============================= */
/*==== MEAL PLANSSSSSSS PAGE=== */
/*============================ */

.nutrionAPI {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    
  }

  .apiInfoBox {
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width:27%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

  .apiInfoBox ul {
    list-style: none;
  }

  .apiInfoBox h3 {
    text-align: center;
  }

  .getInfo {
    border: 2px solid transparent;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    }

  .apiInfo {
    border: 2px solid black;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: auto;
    width: 70%;
    text-align: center;
   }

   .warningMsg {
    color:red;
    margin-left: 4%;
   }

   .apiInput {
    border: 2px solid transparent;
    font-size: 19px;
    width: 100%;
    color: rgb(3,85,153,1);
    margin-left: 21%;
    margin-right: auto;
   }

   .displayAPI {
    border: 2px solid black;
    margin-left: 28.5%;
    margin-right: auto;
    margin-bottom: 5%;
    width: 35%;
    }

    .macrosSection {
        border: 2px solid black;
        display: flex;
        width: 50%;
        flex-direction: column;
    }
    
    .macros {
        
        border: 2px solid transparent;
        border-radius: 10px;
        margin-top: 2%;
       
        margin-bottom: 6%;
    }
 
    .macros h2 {
        margin-left: 28%;
    }
    
    .macros li {
        margin-left: 27%;
    }
    
    .createMeal {
        margin-left: 33%;
        margin-bottom: 4%;
    }

    .macroBoxes {
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 2%;
        box-shadow: 5px 5px 5px black;
        margin-bottom: 6%;
    }

    .macroList {
        width: 40%;
    }


/* .topRowFood {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 6%;
}

.cleanEating {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
}

.ketoDiet {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
}

.fasting {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
}

.imgBoxDiet {
    border: 2px solid transparent;
    width: 397px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.dietText {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    margin-left: 35%;
    padding-top: 1%;
}

.mealPlanTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.dietPics {
    height: 440px;
    width: 700px;
    margin-left: 25%;
    margin-right: auto;
}

.cleanEatingTxtContainer {
    border: 2px solid red;
    text-align: left;
}

.cleanEatingTxt {
    border: 2px solid green;
    margin-top: 1%;
    width: 100%;
}

.cleanEatingTxt li {
    margin-left: 28%;
}

.ketoDietSection {
    border: 2px solid blue;
    margin-top: 1%;
}

.ketoTxt {
    margin-top: 1%;
    border: 2px solid red;
    width: 100%;
}

.ketoTxt h3, h2 {
    text-align: center;
}

.fastingTxt h3 {
    text-align: center;
} */



/*============================= */
/*=== MEAL PLANSSSSSSS PAGE === */
/*============================ */

/* PROFILE PAGE */


.accountContainer {
    border: 2px solid transparent;
    height: 579px;
    width: 830px;
    margin-left: 18%;
}

.accountBox {
    border: 2px solid black;
    height: 320px;
    width: 550px;
    margin-left: 18%;
    margin-top: 19%;
    border-radius: 10px;
}

.accountInput {
    border: 2px solid transparent;
    width: 440px;
    height: 240px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.accountEmail, .accountPassword {
    width: 390px;
    height: 40px;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 3%;
    
}

.makeAccount {
    border: 2px solid transparent;
    height: 30px;
    width: 150px;
    margin-top: 5%;
    margin-left: 33%;
}

#accountButton {
    width: 393px;
    position: relative;
    right: 101%;
    margin-top: 10%;
}



/* PROFILE PAGE */


/* =================================== */
/* ========== SIGN UP PAGE  ========== */
/* =================================== */

.signupContainer {
    border: 2px solid transparent;
    /* background-color: lightgray; */    
}

.signupBox {
    border: 2px solid transparent;
    height: 494px;
    width: 400px;
    margin-top: 6%;
    margin-left: 34%;
    background-color: transparent;
}

.signupInput {
    border: 2px solid black;
    height: 390px;
    width: 398px;
    margin-top: 18%;
    background-color: white;
    border-radius: 10px;
}

.signupInput span {
    color:red;
    font-size: 11px;
}

.signupInput li {
    list-style: none;
    margin-top: 2%;
}

.signupForm {
    width: 300px;
    height: 40px;
}

#signUpButton {
  margin-left: 23%;
}


/* =================================== */
/* ========/* SIGN UP PAGE  ========== */
/* =================================== */



/* =================================== */
/* ========/* WORKOUT PAGE ========== */
/* =================================== */

.BackExercises {
    text-align: center;
}

.RowBack {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.cleanEating {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.fasting {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.imgBack {
    border: 2px solid transparent;
    width: 497px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.backText {
    text-align: center;
}

.rowAbs {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 1%;
}



.rowBack {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.cleanEating {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.fasting {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.imgBack {
    border: 2px solid transparent;
    width: 497px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.backText {
    text-align: center;
}
/* =================================== */
/* ========/* WORKOUT PAGE ========== */
/* =================================== */


/* ********************************* */



/* =================================== */
/* ========== PROFILE PAGE =========== */
/* =================================== */
header h1 {
    text-align: center;
    color: black;
  }
  
  .btn-sm {
    margin-left: 5%;
    margin-top: 2%;
  }
  
  .dates h3 {
    color: black;
  }
  
  
  .orders {
    border: 2px solid transparent;
    text-align: center;
    color: black; 
  }
  
  .mealSection {
    border: 2px solid red;
    width: 100%;
  }
  
  
  .messages {
    border: 2px solid transparent;
    margin-left: 5%;
    list-style-position: inside;
    margin-left: 10%;
   
  }
  
  .messages li {
    list-style: none; 
    text-align: center;
    /* color: rgb(255,165,0); */
}
  
  .fa-heart  {
    margin-left: 23%;
    color: white;
  }
  
  .fa-trash-o {
    color: black;
    margin-left: 23%;
    font-weight: bolder;
    font-size: 17px;
  }
/* ======================================= */
/* ======= MEALS OF THE DAY INPUTS ======= */
/* ======================================= */
  
  .calorieTracker {
    border: 2px solid transparent;
    display: flex;
    background-image: url(img/nutrients.jpeg);
    background-size: 100%;
  }

  /* .nutrionAPI {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    width: 50%;
    display: flex;
    flex-direction: column;
    
  }

  .apiInfoBox {
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
  }

  .apiInfoBox ul {
    list-style: none;
  }

  .apiInfoBox h3 {
    text-align: center;
  }

  .getInfo {
    border: 2px solid black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 30%;
    }

  .apiInfo {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
   }

   .apiInput {
    border: 2px solid transparent;
    font-size: 19px;
    width: 100%;
    margin-top: 7%;
    color: rgb(3,85,153,1);
    margin-left: 21%;
    margin-right: auto;
     
  }*/

  .dailyMealForm {
    border: 2px solid transparent;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;

  }
  
  .dailyMeal {
    border: 2px solid black;
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: 30%;
    margin-top: 6%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    
  }
  
  .dailyMeal button {
    margin-top: 2%;
    margin-bottom: 3%;
  }
  
  .txtInput {
    border: 2px solid transparent;
    margin-top: 3%;
  }
  
  .txtInput input {
    width: 35%;
    text-align: center;
    margin-left: 13%;
  }
  
  #mealTxt {
    margin-left: 22%;
    width: 35%;
    text-align: center;
    margin-top: 3%;
  }
  
  #mealTxt input {
    text-align: center;
  }
  
  .input {
    border: 2px solid transparent;
    font-size: 19px;
    width: 100%;
    margin-top: 1%;
    color: black;
    font-weight: bold;
  }
  
  .meal {
    border: 1px solid transparent;
    margin-top: 3%;
  }
  
  .calories {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .protein {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .carbs {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .fats {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .options {
    border: 1px solid transparent;
    margin-top: 1%;
  }
  
  .daysContainer {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    
  }
  
  .daysSection {
    border: 2px solid transparent;
  }
  
  .daysSection h2 {
    color: rgb(3,85,153,1);
    text-align: center;
  }
  
  .daysTxt {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 2%;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 6%;
  }

  .apiCalories {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }

  .apiProtein {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }

  .apiCarbs {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }

  .apiFats {
    margin-right: 16%;
    border: 2px solid black;
    height: 43px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 1%;
  }
 
  
  
/* ======================================= */
/* ======= MEALS OF THE DAY INPUTS ======= */
/* ======================================= */
  
  .checkgreen {
    color: red;
    
  }
  
  .checkblack {
    color: black;
  }
  
  
  .localInfo {
    visibility: hidden;
  }
  
 
  
/* =================================== */
/* ========== PROFILE PAGE =========== */
/* =================================== */

/* MEDIAAAAAA QUIERIES */


/* ============================== */
/* ========== HOME PAGE ========= */
/* ============================== */
@media (max-width: 1319px) and (min-width: 1246px) {
    .text1 h2 {
        margin-left: 30%;
        margin-right: auto;
    }

    .dietTextOne h2 {
        margin-left: 23%;
        margin-right: auto;
        width: 50%;
        margin-top: 11%;
    }

    .dietTextTwo p {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}


@media (max-width: 1245px) and (min-width: 1200px) {
    .text1 h2 {
        margin-left: 29%;
        margin-right: auto;
        width: 100%;
    }
    
    
    .dietTextOne h2 {
        margin-left: 23%;
        margin-right: auto;
        width: 50%;
        margin-top: 11%;
        width: 70%;
    }   

    .dietTextTwo p {
        margin-left: 18%;
        margin-right: auto;
        width: 70%;
    }
}


@media(max-width: 1200px) and (min-width: 1100px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
    }
    
    .text1 h2 {
        margin-left: 12%;;
        margin-right: auto;
        width: 100%;
    }

    .text2 p {
       margin-left: auto;
       margin-right: auto; 
       width: 73%;
    }

    .dietTextOne h2 {
        margin-left: 23%;
        margin-right: auto;
        width: 50%;
        margin-top: 11%;
        width: 70%;
    } 

    .dietTextTwo p {
        margin-left: 18%;
        margin-right: auto;
        width: 70%;
    }

    .dietLeft img {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 1099px) and (min-width: 858px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .topSection button {
        margin-top: 20%;
    }

    .link {
        margin-left: auto;
        margin-right: auto;
    }

    .text1 h2 {
        margin-left: 12%;
        margin-right: auto;
        width: 100%;
    }

    .text2 p {
        margin-left: auto;
        margin-right: auto; 
        width: 73%;
     }
     
     .text2 button {
        margin-left:29%;
        margin-top: 1%;
    }

    .dietTextOne h2 {
        margin-left: 28%;
        margin-right: auto;
        width: 50%;
        margin-top: 11%;
        width: 70%;
    } 

    .dietTextTwo p {
        margin-left: 25%;
        margin-right: auto;
        width: 70%;
    }

    .dietTextTwo button {
        margin-top: 4%;
    }

    .dietLeft img {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 858px) and (min-width: 800px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        /* width: 90%; */
    }

    .topSection button {
        margin-top: 20%;
    }

    .link {
        margin-left: auto;
        margin-right: auto;
    }

    .text1 h2 {
        margin-left: 12%;
        margin-right: auto;
        width: 100%;
    }

    .text2 p {
        margin-left: auto;
        margin-right: auto; 
        width: 73%;
     }
     
     .text2 button {
        margin-left:29%;
        margin-top: 1%;
    }

    .dietTextOne h2 {
        margin-left: 28%;
        margin-right: auto;
        width: 50%;
        margin-top: 11%;
        width: 70%;
    } 

    .dietTextTwo p {
        margin-left: 25%;
        margin-right: auto;
        width: 70%;
    }

    .dietTextTwo button {
        margin-top: 4%;
    }

    .dietLeft img {
        margin-left: auto;
        margin-right: auto;
    }

}




/* MEDIAAAAAA QUIERIES */